.ImageLinkForm {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#text {
	font-size: 120px;
	color: black;
	font-family: MontserratBlack;
}

.anim-shape {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation: moving-panel 1.1s infinite alternate;
    animation: moving-panel 1.1s infinite alternate; 
}
  .colortext .anim-shape:nth-child(1) {
    fill: #A80F67; }
  .colortext .anim-shape:nth-child(2) {
    fill: #75448C; }
  .colortext .anim-shape:nth-child(3) {
    fill: #571675 }
  .colortext .anim-shape:nth-child(4) {
    fill: #BABABA; }
  .colortext .anim-shape:nth-child(5) {
    fill: #787878; }
  .colortext .anim-shape:nth-child(6) {
    fill: #DB81B5; }

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0); } }
@keyframes moving-panel {
  100% {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0); } 
}

svg {
	display: block;
}

.petal-wrapper {
	position: relative;
}

.ImageLinkForm h3 {
	font-family: CourierNew,  monospace;
	font-size: 19px;
	color: #000;
	margin-bottom: 30px;
}

.ImageLinkForm input {
	display: block;
	border: none;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-left: 20px;
	width: 250px;
	background-color: #fff;
	color: #000;
	font-family: MontserratRegular;
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	transition: width .6s ease-in-out, background-color .3s ease-in-out;
}

.ImageLinkForm input:focus {
	width: 100%;
	background-color: #fff;
}

/*Placeholder-ordinary state*/

.ImageLinkForm input::-webkit-input-placeholder {
  	color: #000; 
  	font-family: MontserratRegular;
}

.ImageLinkForm input:-moz-placeholder { /* Firefox 18- */
	color: #000; 
	font-family: MontserratRegular;
}

.ImageLinkForm input::-moz-placeholder {  /* Firefox 19+ */
	color: #000; 
	font-family: MontserratRegular;
}
.ImageLinkForm input:-ms-input-placeholder {
	color: #000;
	font-family: MontserratRegular;
}

/*Placeholder:focus*/

.ImageLinkForm input:focus:-webkit-input-placeholder {
  	color: #000; 
  	border-bottom: 1px solid #000;
}

.ImageLinkForm input:focus:-moz-placeholder { /* Firefox 18- */
	color: #000; 
	border-bottom: 1px solid #000;
}

.ImageLinkForm input:focus::-moz-placeholder {  /* Firefox 19+ */
	color: #000; 
	border-bottom: 1px solid #000;
}

.ImageLinkForm input:focus:-ms-input-placeholder {
	color: #000; 
	border-bottom: 1px solid #000;
}

.ImageLinkForm .detect {
	position: relative;
	z-index: 1;
	width: 150px;
	font-family: Montserrat;
	font-weight: 500;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
	border-radius: 50px;
	overflow: hidden;
	color: #fff;
	background-color: #BABABA;
}

.ImageLinkForm .detect::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #000;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform .4s, opacity .4s, color .4s;
	transition: transform .4s, opacity .4s, color .4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}

.ImageLinkForm .detect:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
	color: #000;
}

.notification {
	position: relative;
	display: block;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.notification .tooltiptext {
	visibility: hidden;
    width: 300px;
    background-color: #571675;
    color: #fff;
    font-family: MontserratRegular;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 6px;
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.notification .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #571675 transparent  transparent  transparent ;
}

.notification .visible {
	visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {

	.ImageLinkForm {
		display: block;
		width: 80%;
	}

	.ImageLinkForm h1 {
		margin-top: 50px;
	}

	.ImageLinkForm h3 {
    	font-size: 18px;
    	position: static;
    	margin-left: 15px;
    	margin-right: 15px;
    	margin-bottom: 30px;
    	top: 0px;
    	left: 0px;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

	.ImageLinkForm {
		display: block;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		position: static;
		top: 0px;
		left: 0px;
		transform: translate(0, 0);
		text-align: center;
	}

	.ImageLinkForm h1 {
		margin-top: 0px;
		margin-bottom: 15px;
	}

	.ImageLinkForm h3 {
		display: block;
		width: 85%;
    	font-size: 17px;
    	margin-bottom: 15px;
    	margin-left: auto;
    	margin-right: auto;
    }

    .notification .tooltiptext {
    	font-size: 13px;
    	width: 250px;
    	margin-bottom: 10px;
    }

	.ImageLinkForm input {
		width: 180px;
		margin-bottom: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 15px;
	}

    .ImageLinkForm .detect {
    	width: 100px;
    	font-size: 14px;
   	}
}