
@font-face {
    font-family: 'CourierNew';
    src: url('../assets/fonts/cour_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('../assets/fonts/Montserrat-Black.ttf') format('truetype');
}


* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
    font-family: CourierNew, Courier, monospace;
}

.App {
	text-align: center;
	margin-top: 50px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.input-section {
	background: url("../assets/images/petal.svg") no-repeat 50% 50%;
	min-height: 700px;
    max-height: 700px;
}

.container-hidden {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    transition: height .6s ease-in-out;
}

.container-visible {
	position: relative;
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

    .App {
        margin-top: 10px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-section {
        background: url("../assets/images/petal.svg") no-repeat 50% 100%;
        background-size: cover;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 500px;
        max-height: 500px;
    }

    .color-recognition {
        background-size: cover;
    }
}

