.colorRecAppreance-wrapper {
	position: relative;
	top: -160px;
	min-height: 300px;
	max-width: 600px;
	transition: transform .2s ease-in-out;
	display: none;
}

#petal-flipped  {
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}

#petal-flipped #petal-pic {
	height: 650px;
}

#petal-pic #left {
	box-shadow: black 5px;
}

.colorRecAppreance {
	position: absolute;
}

.visible {
	display: inline-block;
}

.visible-scale {
	transform: scale(1)!important;
	transition: transform .6s ease-in-out;
}

.visible-scale-hover {
	transform: scale(1)!important;
	transition: transform .5s ease-in-out;
}

.Picture {
    width: 380px;
	height: 380px;
    background-color: #CFD8DC;
  	border-radius: 50%;
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
	transform: scale(0);
    transition: transform .6s ease-in-out;
    position: relative;
    left: -50px;
    background-color: rgb(68,68,68); /* Needed for IEs */
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.Picture img {
  	transition: transform .4s ease-in-out;
  	transform: scale(1.1);
}

.Picture:hover img {
	transform: scale(1.2);
	cursor: pointer;
}

.colors-wrapper {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 150%;
	left: 250px;
	border-radius: 50%;
    transform: translate(-55%, -70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {

	#petal-flipped #petal-pic {
		max-width: 100%;
	}

	.Picture {
    	max-width: 300px;
    	max-height: 300px;
    }

    #petal-flipped #petal-pic {
    	max-height: 400px;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

	.ImageLinkForm h3 {
    	font-size: 16px;
    }

    .colorRecAppreance-wrapper {
		position: relative;
		top: 0px;
		height: auto;
		width: auto;
	}

	.colorRecAppreance-wrapper {
		top: -75px;
	}

    .Picture {
    	max-width: 150px;
    	max-height: 150px;
    }

    #petal-flipped #petal-pic {
     	max-height: 330px;
    }

    .colors-wrapper {
    	height: 250px;
    	left: 70px;
    	top: 220%;
    }
}
