#Logo-wrapper {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 30px;
	left: 30px;
	overflow: hidden;
}

.logo-rotation {
	-webkit-animation: petalRotation .7s linear forwards, petalScaling .6s linar forwards; /* Safari 4.0 - 8.0 */
    animation: petalRotation .7s linear forwards, petalScaling .6s ease-in-out forwards;
}

@-webkit-keyframes petalRotation {
    0%   {transform: rotate(90deg), scale(0.8);}
    100% {transform: rotate(720deg);}
}

/* Standard syntax */
@keyframes petalRotation {
    0%   {transform: rotate(90deg), scale(0.8);}
    100% {transform: rotate(720deg);}
}

/*@-webkit-keyframes petalScaling {
    0%   {transform: scale(1);}
    50%  {transform: scale(0.8);}
    100% {transform: scale(1);}
}

/* Standard syntax */
/*@keyframes petalScaling {
   	0%   {transform: scale(1);}
    50%  {transform: scale(0.8);}
    100% {transform: scale(1);}
}*/



/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
	
	#Logo-wrapper {
		position: static;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

	#Logo-wrapper {
		top: 20px;
		margin-left: 5px;
		margin-bottom: 20px;
		height: 160px;
		width: 160px;
	}
}
